---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---


<ul>
	<li>TELE9753&nbsp;<a href="https://www.handbook.unsw.edu.au/postgraduate/courses/2023/TELE9753?year=2023">Advanced Wireless Communications</a>&nbsp;in Term 1 (Feb-May), 2023, Lecturer and Tutor</li>
	<li>TELE3113&nbsp;<a href="https://www.handbook.unsw.edu.au/undergraduate/courses/2024/TELE3113?year=2024">Analogue and Digital Communications</a>&nbsp;in Term 1 (Feb-May), 2024-25, Coordinator, Lecturer and Tutor</li>
</ul>





#{% include base_path %}
#
#{% for post in site.teaching reversed %}
#  {% include archive-single.html %}
#{% endfor %}
